.navbar {
  background-color: #002e25;
  color: #cccdd7;
  display: flex;

  padding: 5px 100px 5px 100px;
  height: 60px;
}

/* .navbar p {
  display: flex;
  align-items: center;
} */
.left-logo {
  display: flex;
  width: 20%;
}

.logo {
  width: 50px;
}

.middle-categories {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  width: 50%;
}

.right-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 30%;
  padding-left: 20px;
}

.right-btns>button {
  background-color: #008060;
  height: 40px;
  border: none;
  color: #cccdd7;
  width: 100px;
}

.navbar div {
  border: 1px solid red;
}